## Systemy rekomendacji
1. Zbiorowej filtracji  
2. Filtracji treści

### Przygotowanie danych

In [1]:
import pandas as pd
missing_values = ['na','--','?','-','None','none','non','n/a']
movies = pd.read_csv("DF_st/ml-latest-small/movies.csv",na_values=missing_values)
ratings = pd.read_csv("DF_st/ml-latest-small/ratings.csv",na_values=missing_values)

In [2]:
# Połączenie movies z rating po movieId (nazwa: movies_final)
movies_final = pd.merge(ratings, movies, on='movieId')
movies_final

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...,...
100831,610,160341,2.5,1479545749,Bloodmoon (1997),Action|Thriller
100832,610,160527,4.5,1479544998,Sympathy for the Underdog (1971),Action|Crime|Drama
100833,610,160836,3.0,1493844794,Hazard (2005),Action|Drama|Thriller
100834,610,163937,3.5,1493848789,Blair Witch (2016),Horror|Thriller
100835,610,163981,3.5,1493850155,31 (2016),Horror

In [3]:
# stworzenie macierzy rzadkiej 
# 1. rows: movieId, columns: userId, values: ratings 
# 2. macierz rzadka 

movie_features = ratings.pivot(
    index='movieId',
    columns='userId',
    values='rating'
).fillna(0)
movie_features #df

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193583,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
from scipy.sparse import csr_matrix
mat_movie_features = csr_matrix(movie_features.values)
mat_movie_features

<9724x610 sparse matrix of type '<class 'numpy.float64'>'
	with 100836 stored elements in Compressed Sparse Row format>

### 1. Zbiorowa filtracja

#### 1a. Podejście oparte na pamięci, Item2Item (z algorytmem kNN)

In [5]:
#model
from sklearn.neighbors import NearestNeighbors 
model_knn = NearestNeighbors(metric='cosine', algorithm='brute', n_jobs=-1)
model_knn.fit(mat_movie_features)

NearestNeighbors(algorithm='brute', metric='cosine', n_jobs=-1)

In [6]:
#rekomendacja
import numpy as np
query_index = np.random.choice(movie_features.shape[0])
distances, indices = model_knn.kneighbors(movie_features.iloc[query_index, :].values.reshape(1, -1), n_neighbors = 10)

for i in range(0, len(distances.flatten())):
    if i == 0:
        print ('Recommendations for {0}:\n'.format(movie_features.index[query_index]))
    else:
        print ('{0}: {1}, with distance of {2}:'.format(i, movie_features.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for 2871:

1: 1663, with distance of 0.4856971491405485:
2: 2420, with distance of 0.5143974653420524:
3: 2110, with distance of 0.5152419408727082:
4: 1129, with distance of 0.5195217209156638:
5: 3698, with distance of 0.531319081129253:
6: 2641, with distance of 0.5345534316655983:
7: 2989, with distance of 0.5467002062767286:
8: 2668, with distance of 0.5488252183638176:
9: 2533, with distance of 0.5502757780276801:

In [7]:
from fuzzywuzzy import fuzz

def fuzzy_matching(mapper, fav_movie, verbose=True):
    """
    return the closest match via fuzzy ratio. If no match found, return None
    Parameters
    ----------    
    mapper: dict, map movie title name to index of the movie in data
    fav_movie: str, name of user input movie
    verbose: bool, print log if True
    Return
    ------
    index of the closest match
    """
    match_tuple = []
    # get match
    for title, idx in mapper.items():
        ratio = fuzz.ratio(title.lower(), fav_movie.lower())
        if ratio >= 70:
            match_tuple.append((title, idx, ratio))
    # sort
    match_tuple = sorted(match_tuple, key=lambda x: x[2])[::-1]
    if not match_tuple:
        print('Oops! No match is found')
        return
    if verbose:
        print('Found possible matches in our database: {0}\n'.format([x[0] for x in match_tuple]))
    return match_tuple[0][1]

def make_recommendation(model_knn, data, mapper, fav_movie, n_recommendations):
    """
    return top n similar movie recommendations based on user's input movie
    Parameters
    ----------
    model_knn: sklearn model, knn model
    data: movie-user matrix
    mapper: dict, map movie title name to index of the movie in data
    fav_movie: str, name of user input movie
    n_recommendations: int, top n recommendations
    Return
    ------
    list of top n similar movie recommendations
    """
    # fit
    model_knn.fit(data)
    # get input movie index
    print('Selected movie:', fav_movie)
    idx = fuzzy_matching(mapper, fav_movie, verbose=True)
    # inference
    print('Recommendation system start to make inference')
    print('......\n')
    distances, indices = model_knn.kneighbors(data[idx], n_neighbors=n_recommendations+1)
    # get list of raw idx of recommendations
    raw_recommends = \
        sorted(list(zip(indices.squeeze().tolist(), distances.squeeze().tolist())), key=lambda x: x[1])[:0:-1]
    # get reverse mapper
    reverse_mapper = {v: k for k, v in mapper.items()}
    # print recommendations
    print('Recommendations for {}:'.format(fav_movie))
    for i, (idx, dist) in enumerate(raw_recommends):
        print('{0}: {1}, with distance of {2}'.format(i+1, reverse_mapper[idx], dist))

In [8]:
# tworzymy mapper: movie title -> index
movie_to_idx = {
    movie: i for i, movie in
    enumerate(list(movies.set_index('movieId').loc[movie_features.index].title))
}

In [9]:
my_favorite = 'Pulp Fictiom'

make_recommendation(
    model_knn=model_knn,
    data=mat_movie_features,
    fav_movie=my_favorite,
    mapper=movie_to_idx,
    n_recommendations=5)

Selected movie: Pulp Fictiom
Found possible matches in our database: ['Pulp Fiction (1994)']

Recommendation system start to make inference
......

Recommendations for Pulp Fictiom:
1: Usual Suspects, The (1995), with distance of 0.3273840967732101
2: Forrest Gump (1994), with distance of 0.3144563273687092
3: Seven (a.k.a. Se7en) (1995), with distance of 0.3023463819521529
4: Shawshank Redemption, The (1994), with distance of 0.2976337826022786
5: Silence of the Lambs, The (1991), with distance of 0.2906176295563828

### 1b. Podejście oparte na modelu (SVD)

In [10]:
# tworzymy macierz rzadką (z tytułami w kolumnach)
from scipy.sparse import csr_matrix
movie_features2 = movies_final.pivot_table(
    index='userId',
    columns='title',
    values='rating'
).fillna(0)
movie_features2

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.5,3.5,0.0,0.0,0.0
609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,...,0.0,4.0,3.5,3.0,0.0,0.0,2.0,1.5,0.0,0.0

In [11]:
# transpozycja
X = movie_features2.values.T
type(X)

numpy.ndarray

In [49]:
# dekompozycja macierzy
import sklearn
from sklearn.decomposition import TruncatedSVD

SVD = TruncatedSVD(n_components = 10, random_state=12)
matrix = SVD.fit_transform(X)
matrix

array([[ 5.55459727e-01,  8.08734418e-01, -3.70793965e-01, ...,
        -8.00225664e-01, -8.42661961e-01,  2.42123598e-01],
       [ 2.34857544e-01,  4.86889653e-02,  2.83475683e-02, ...,
         4.97851060e-02, -9.49132170e-02, -4.72952424e-02],
       [ 2.51207089e-01, -4.87102852e-03, -1.36790265e-02, ...,
        -4.17391918e-02, -1.07263521e-01, -4.35679625e-03],
       ...,
       [ 9.35396268e-01,  9.31479738e-01, -1.29421918e-02, ...,
        -3.79982363e-01, -3.95640490e-01,  5.22502851e-01],
       [ 6.50333281e+00, -2.71447567e+00, -2.10390579e+00, ...,
         1.73805046e+00,  2.12883255e+00,  2.58937792e+00],
       [ 3.13533559e-02, -4.36113440e-02,  3.32840985e-03, ...,
        -2.03026447e-02, -2.58252139e-02,  5.07842163e-03]])

In [13]:
# analiza korelacji między filmami
corr = np.corrcoef(matrix)
corr.shape

(9719, 9719)

In [14]:
# z tabeli wyjściowej wyciągamy listę tytulów filmów
movie_names = movie_features2.columns
movies_list = list(movie_names)
movies_list

["'71 (2014)",
 "'Hellboy': The Seeds of Creation (2004)",
 "'Round Midnight (1986)",
 "'Salem's Lot (2004)",
 "'Til There Was You (1997)",
 "'Tis the Season for Love (2015)",
 "'burbs, The (1989)",
 "'night Mother (1986)",
 '(500) Days of Summer (2009)',
 '*batteries not included (1987)',
 '...All the Marbles (1981)',
 '...And Justice for All (1979)',
 '00 Schneider - Jagd auf Nihil Baxter (1994)',
 '1-900 (06) (1994)',
 '10 (1979)',
 '10 Cent Pistol (2015)',
 '10 Cloverfield Lane (2016)',
 '10 Items or Less (2006)',
 '10 Things I Hate About You (1999)',
 '10 Years (2011)',
 '10,000 BC (2008)',
 '100 Girls (2000)',
 '100 Streets (2016)',
 '101 Dalmatians (1996)',
 '101 Dalmatians (One Hundred and One Dalmatians) (1961)',
 "101 Dalmatians II: Patch's London Adventure (2003)",
 '101 Reykjavik (101 Reykjavík) (2000)',
 '102 Dalmatians (2000)',
 '10th & Wolf (2006)',
 '10th Kingdom, The (2000)',
 '10th Victim, The (La decima vittima) (1965)',
 '11\'09"01 - September 11 (2002)',
 '11:14 (2003)',
 '11th Hour, The (2007)',
 '12 Angry Men (1957)',
 '12 Angry Men (1997)',
 '12 Chairs (1971)',
 '12 Chairs (1976)',
 '12 Rounds (2009)',
 '12 Years a Slave (2013)',
 '127 Hours (2010)',
 '13 Assassins (Jûsan-nin no shikaku) (2010)',
 '13 Ghosts (1960)',
 '13 Going on 30 (2004)',
 '13 Hours (2016)',
 '13 Sins (2014)',
 '13 Tzameti (2005)',
 '13th (2016)',
 '13th Warrior, The (1999)',
 '1408 (2007)',
 '1492: Conquest of Paradise (1992)',
 '15 Minutes (2001)',
 '16 Blocks (2006)',
 '17 Again (2009)',
 '1776 (1972)',
 '18 Again! (1988)',
 '187 (One Eight Seven) (1997)',
 '1900 (Novecento) (1976)',
 '1941 (1979)',
 '1969 (1988)',
 '1984 (Nineteen Eighty-Four) (1984)',
 '2 Days in New York (2012)',
 '2 Days in Paris (2007)',
 '2 Days in the Valley (1996)',
 '2 Fast 2 Furious (Fast and the Furious 2, The) (2003)',
 '2 Guns (2013)',
 '20 Dates (1998)',
 '20 Feet from Stardom (Twenty Feet from Stardom) (2013)',
 '20 Million Miles to Earth (1957)',
 '20,000 Days on Earth (2014)',
 '20,000 Leagues Under the Sea (1916)',
 '20,000 Leagues Under the Sea (1954)',
 '200 Cigarettes (1999)',
 '2001 Maniacs (2005)',
 '2001: A Space Odyssey (1968)',
 '2010: The Year We Make Contact (1984)',
 '2012 (2009)',
 '2046 (2004)',
 '2048: Nowhere to Run (2017)',
 '21 (2008)',
 '21 Grams (2003)',
 '21 Jump Street (2012)',
 '21 Up (1977)',
 '21 and Over (2013)',
 '22 Jump Street (2014)',
 '24 Hour Party People (2002)',
 '25th Hour (2002)',
 '27 Dresses (2008)',
 '28 Days (2000)',
 '28 Days Later (2002)',
 '28 Up (1985)',
 '28 Weeks Later (2007)',
 '3 Days to Kill (2014)',
 '3 Extremes (Three... Extremes) (Saam gaang yi) (2004)',
 '3 Idiots (2009)',
 '3 Ninjas (1992)',
 '3 Ninjas Kick Back (1994)',
 '3 Ninjas Knuckle Up (1995)',
 '3 Ninjas: High Noon On Mega Mountain (1998)',
 '3 Women (Three Women) (1977)',
 '3 dev adam (Three Giant Men) (1973) ',
 '3-Iron (Bin-jip) (2004)',
 '30 Days of Night (2007)',
 '30 Minutes or Less (2011)',
 '300 (2007)',
 '3000 Miles to Graceland (2001)',
 '300: Rise of an Empire (2014)',
 '31 (2016)',
 '35 Up (1991)',
 '39 Steps, The (1935)',
 '3:10 to Yuma (1957)',
 '3:10 to Yuma (2007)',
 '4 Little Girls (1997)',
 '4 Months, 3 Weeks and 2 Days (4 luni, 3 saptamâni si 2 zile) (2007)',
 '40 Days and 40 Nights (2002)',
 '40-Year-Old Virgin, The (2005)',
 '400 Blows, The (Les quatre cents coups) (1959)',
 '42 (2013)',
 '42 Up (1998)',
 '42nd Street (1933)',
 '47 Ronin (2013)',
 '48 Hrs. (1982)',
 '49 Up (2005)',
 '5 Centimeters per Second (Byôsoku 5 senchimêtoru) (2007)',
 '5 to 7 (2014)',
 '5,000 Fingers of Dr. T, The (1953)',
 '50 First Dates (2004)',
 '50/50 (2011)',
 '52 Pick-Up (1986)',
 '54 (1998)',
 '6 Days to Air: The Making of South Park (2011)',
 '61* (2001)',
 '6th Day, The (2000)',
 '6th Man, The (Sixth Man, The) (1997)',
 '7 Days in Hell (2015)',
 '7 Faces of Dr. Lao (1964)',
 '7th Voyage of Sinbad, The (1958)',
 '8 1/2 (8½) (1963)',
 '8 Heads in a Duffel Bag (1997)',
 '8 Mile (2002)',
 '8 Seconds (1994)',
 '8 Women (2002)',
 '8 ½ Women (a.k.a. 8 1/2 Women) (a.k.a. Eight and a Half Women) (1999)',
 '800 Bullets (800 Balas) (2002)',
 '84 Charing Cross Road (1987)',
 '8MM (1999)',
 '9 (2009)',
 '9 1/2 Weeks (Nine 1/2 Weeks) (1986)',
 '9/11 (2002)',
 '96 Minutes (2011) ',
 '964 Pinocchio (1991)',
 '99 francs (2007)',
 '9to5: Days in Porn (a.k.a. 9 to 5: Days in Porn) (2008)',
 'A Bad Moms Christmas (2017)',
 'A Christmas Story Live! (2017)',
 'A Cosmic Christmas (1977)',
 'A Detective Story (2003)',
 "A Dog's Purpose (2017)",
 'A Flintstones Christmas Carol (1994)',
 'A German Life (2016)',
 'A Home at the End of the World (2004)',
 'A Man Called Blade (1977)',
 'A Man from Boulevard des Capucines (1987)',
 "A Merry Friggin' Christmas (2014)",
 "A Midsummer Night's Dream (2016)",
 'A Million Ways to Die in the West (2014)',
 'A Most Wanted Man (2014)',
 'A Perfect Day (2015)',
 'A Pigeon Sat on a Branch Reflecting on Existence (2014)',
 'A Plasticine Crow (1981)',
 'A Quiet Place (2018)',
 'A Silent Voice (2016)',
 'A Story of Children and Film (2013)',
 'A Street Cat Named Bob (2016)',
 'A Very Murray Christmas (2015)',
 'A Walk in the Woods (2015)',
 'A Wrinkle in Time (2018)',
 'A-Team, The (2010)',
 'A.I. Artificial Intelligence (2001)',
 'ABCs of Death, The (2012)',
 'ARQ (2016)',
 'AVP: Alien vs. Predator (2004)',
 'AVPR: Aliens vs. Predator - Requiem (2007)',
 'Abandoned, The (2006)',
 'Abbott and Costello Meet Frankenstein (1948)',
 'Abduction (2011)',
 'Abominable Dr. Phibes, The (1971)',
 'Abominable Snowman, The (Abominable Snowman of the Himalayas, The) (1957)',
 'About Adam (2000)',
 'About Last Night (2014)',
 'About Last Night... (1986)',
 'About Schmidt (2002)',
 'About Time (2013)',
 'About a Boy (2002)',
 'Above the Law (1988)',
 'Above the Rim (1994)',
 'Abraham Lincoln: Vampire Hunter (2012)',
 'Absence of Malice (1981)',
 'Absent-Minded Professor, The (1961)',
 'Absentia (2011)',
 'Absolute Power (1997)',
 'Absolutely Anything (2015)',
 'Abyss, The (1989)',
 'Accepted (2006)',
 'Accidental Spy, The (Dak miu mai shing) (2001)',
 'Accidental Tourist, The (1988)',
 'Accused, The (1988)',
 'Ace Ventura: Pet Detective (1994)',
 'Ace Ventura: When Nature Calls (1995)',
 'Ace in the Hole (Big Carnival, The) (1951)',
 'Aces: Iron Eagle III (1992)',
 'Acid House, The (1998)',
 'Across the Hall (2009)',
 'Across the Universe (2007)',
 'Act of Killing, The (2012)',
 'Act of Valor (2012)',
 'Action Jackson (1988)',
 "Adam and Eve (National Lampoon's Adam & Eve) (2005)",
 "Adam's Apples (Adams æbler) (2005)",
 "Adam's Rib (1949)",
 'Adanggaman (2000)',
 'Adaptation (2002)',
 'Addams Family Reunion (1998)',
 'Addams Family Values (1993)',
 'Addams Family, The (1991)',
 'Addicted to Love (1997)',
 'Addiction, The (1995)',
 'Adjustment Bureau, The (2011)',
 'Admission (2013)',
 'Adventureland (2009)',
 'Adventures Of Sherlock Holmes And Dr. Watson: The Twentieth Century Approaches (1986)',
 'Adventures in Babysitting (1987)',
 'Adventures in Plymptoons! (2011)',
 'Adventures of Baron Munchausen, The (1988)',
 'Adventures of Buckaroo Banzai Across the 8th Dimension, The (1984)',
 'Adventures of Elmo in Grouchland, The (1999)',
 'Adventures of Ford Fairlane, The (1990)',
 'Adventures of Huck Finn, The (1993)',
 'Adventures of Ichabod and Mr. Toad, The (1949)',
 'Adventures of Mary-Kate and Ashley, The: The Case of the Christmas Caper (1995)',
 'Adventures of Milo and Otis, The (Koneko monogatari) (1986)',
 'Adventures of Mowgli: The Kidnapping (1968)',
 'Adventures of Pinocchio, The (1996)',
 'Adventures of Pluto Nash, The (2002)',
 'Adventures of Priscilla, Queen of the Desert, The (1994)',
 'Adventures of Robin Hood, The (1938)',
 'Adventures of Rocky and Bullwinkle, The (2000)',
 'Adventures of Sebastian Cole, The (1998)',
 'Adventures of Sharkboy and Lavagirl 3-D, The (2005)',
 'Adventures of Tintin, The (2011)',
 'Advise and Consent (1962)',
 'Aelita: The Queen of Mars (Aelita) (1924)',
 'Aeon Flux (2005)',
 'Affair of Love, An (Liaison pornographique, Une) (1999)',
 'Affair of the Necklace, The (2001)',
 'Affair to Remember, An (1957)',
 'Afflicted (2013)',
 'Affliction (1997)',
 'Afonya (1975)',
 'Africa: The Serengeti (1994)',
 'African Cats (2011)',
 'African Queen, The (1951)',
 'Afro Samurai (2007)',
 'Afro Samurai: Resurrection (2009)',
 'After Earth (2013)',
 'After Hours (1985)',
 'After Life (Wandafuru raifu) (1998)',
 'After the Fox (Caccia alla volpe) (1966)',
 'After the Sunset (2004)',
 'After the Thin Man (1936)',
 'After the Wedding (Efter brylluppet) (2006)',
 'Afterglow (1997)',
 'Against All Odds (1984)',
 'Against the Ropes (2004)',
 'Age of Innocence, The (1993)',
 'Agent Cody Banks (2003)',
 'Agent Cody Banks 2: Destination London (2004)',
 'Agnes of God (1985)',
 'Agony and the Ecstasy, The (1965)',
 'Agora (2009)',
 'Aguirre: The Wrath of God (Aguirre, der Zorn Gottes) (1972)',
 'Aileen: Life and Death of a Serial Killer (2003)',
 'Air America (1990)',
 'Air Bud (1997)',
 'Air Bud: Golden Receiver (1998)',
 'Air Force One (1997)',
 'Air I Breathe, The (2007)',
 'Air Up There, The (1994)',
 'Airborne (1993)',
 'Airheads (1994)',
 'Airplane II: The Sequel (1982)',
 'Airplane! (1980)',
 "Airport '77 (1977)",
 'Airport (1970)',
 'Airport 1975 (1974)',
 'Akeelah and the Bee (2006)',
 'Akira (1988)',
 "Akira Kurosawa's Dreams (Dreams) (1990)",
 'Aladdin (1992)',
 'Aladdin and the King of Thieves (1996)',
 'Alamo, The (1960)',
 'Alan Partridge: Alpha Papa (2013)',
 'Alaska (1996)',
 'Alaska: Spirit of the Wild (1997)',
 'Albatross (2011)',
 'Albino Alligator (1996)',
 'Alesha Popovich and Tugarin the Dragon (2004)',
 'Alex Cross (2012)',
 'Alex and Emma (2003)',
 'Alexander (2004)',
 'Alexander Nevsky (Aleksandr Nevskiy) (1938)',
 'Alfie (1966)',
 'Alfie (2004)',
 'Ali (2001)',
 'Ali G Indahouse (2002)',
 'Ali Wong: Baby Cobra (2016)',
 'Ali: Fear Eats the Soul (Angst essen Seele auf) (1974)',
 'Alias Betty (Betty Fisher et autres histoires) (2001)',
 'Alice (1990)',
 'Alice (2009)',
 'Alice (Neco z Alenky) (1988)',
 'Alice Adams (1935)',
 "Alice Doesn't Live Here Anymore (1974)",
 'Alice Through the Looking Glass (2016)',
 'Alice in Wonderland (1933)',
 'Alice in Wonderland (1951)',
 'Alice in Wonderland (2010)',
 'Alien (1979)',
 'Alien Contamination (1980)',
 'Alien Nation (1988)',
 'Alien from L.A. (1988)',
 'Alien: Covenant (2017)',
 'Alien: Resurrection (1997)',
 'Aliens (1986)',
 'Alien³ (a.k.a. Alien 3) (1992)',
 'Alive (1993)',
 'All About Eve (1950)',
 'All About Lily Chou-Chou (Riri Shushu no subete) (2001)',
 'All About My Mother (Todo sobre mi madre) (1999)',
 'All About the Benjamins (2002)',
 'All Dogs Christmas Carol, An (1998)',
 'All Dogs Go to Heaven (1989)',
 'All Dogs Go to Heaven 2 (1996)',
 'All Good Things (2010)',
 'All Is Lost (2013)',
 'All Over the Guy (2001)',
 'All Quiet on the Western Front (1930)',
 'All Roads Lead to Rome (2016)',
 'All That Heaven Allows (1955)',
 'All That Jazz (1979)',
 'All This, and Heaven Too (1940)',
 'All Watched Over by Machines of Loving Grace (2011)',
 'All Yours (2016)',
 'All is Bright (2013)',
 'All of Me (1984)',
 'All or Nothing (2002)',
 'All the Boys Love Mandy Lane (2006)',
 "All the King's Men (1949)",
 "All the King's Men (2006)",
 "All the President's Men (1976)",
 'All the Pretty Horses (2000)',
 'All the Real Girls (2003)',
 'All the Right Moves (1983)',
 'All the Vermeers in New York (1990)',
 'All-Star Superman (2011)',
 'Allan Quatermain and the Lost City of Gold (1987)',
 'Allegro non troppo (1977)',
 'Alles Inklusive (2014)',
 'Alligator (1980)',
 'Allnighter, The (1987)',
 'Almost Famous (2000)',
 'Almost Heroes (1998)',
 'Almost an Angel (1990)',
 'Aloha (2015)',
 'Alone in the Dark (2005)',
 'Alone in the Dark II (2008)',
 'Along Came Polly (2004)',
 'Along Came a Spider (2001)',
 'Alpha (2018)',
 'Alpha Dog (2007)',
 'Alpha and Omega 3: The Great Wolf Games (2014)',
 'Alphaville (Alphaville, une étrange aventure de Lemmy Caution) (1965)',
 'Altered (2006)',
 'Altered States (1980)',
 'Alvarez Kelly (1966)',
 'Alvin and the Chipmunks (2007)',
 'Alvin and the Chipmunks: Chipwrecked (2011)',
 'Alvin and the Chipmunks: The Squeakquel (2009)',
 'Always (1989)',
 'Always Watching: A Marble Hornets Story (2015)',
 'Amadeus (1984)',
 'Amanda Knox (2016)',
 'Amarcord (1973)',
 'Amateur (1994)',
 'Amazing Grace (2006)',
 'Amazing Grace and Chuck (1987)',
 'Amazing Panda Adventure, The (1995)',
 'Amazing Spider-Man, The (2012)',
 'Amazing Transparent Man, The (1960)',
 'Amazon Women on the Moon (1987)',
 "Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)",
 'Amen. (2002)',
 'Amer (2009)',
 "America's Sweethearts (2001)",
 'American Astronaut, The (2001)',
 'American Beauty (1999)',
 'American Buffalo (1996)',
 'American Carol, An (2008)',
 'American Dreamz (2006)',
 'American Drug War: The Last White Hope (2007)',
 'American Fable (2017)',
 'American Flyers (1985)',
 'American Friend, The (Amerikanische Freund, Der) (1977)',
 'American Gangster (2007)',
 'American Gigolo (1980)',
 'American Graffiti (1973)',
 'American Grindhouse (2010)',
 'American Hardcore (2006)',
 'American Haunting, An (2005)',
 'American Heist (2015)',
 'American History X (1998)',
 'American Hustle (2013)',
 'American Made (2017)',
 'American Me (1992)',
 'American Movie (1999)',
 'American Ninja (1985)',
 'American Outlaws (2001)',
 'American Pie (1999)',
 'American Pie 2 (2001)',
 'American Pie Presents Beta House (American Pie 6: Beta House) (2007)',
 'American Pie Presents The Naked Mile (American Pie 5: The Naked Mile) (2006)',
 'American Pie Presents: Band Camp (American Pie 4: Band Camp) (2005)',
 'American Pie Presents: The Book of Love (American Pie 7: The Book of Love) (2009)',
 'American Pop (1981)',
 'American President, The (1995)',
 'American Psycho (2000)',
 'American Psycho II: All American Girl (2002)',
 'American Reunion (American Pie 4) (2012)',
 'American Sniper (2014)',
 'American Splendor (2003)',
 'American Tail, An (1986)',
 'American Tail: Fievel Goes West, An (1991)',
 'American Ultra (2015)',
 'American Wedding (American Pie 3) (2003)',
 'American Werewolf in London, An (1981)',
 'American Werewolf in Paris, An (1997)',
 'American in Paris, An (1951)',
 'American, The (2010)',
 'American: The Bill Hicks Story (2009)',
 'Americanization of Emily, The (1964)',
 'Americathon (1979)',
 'Amistad (1997)',
 "Amityville 1992: It's About Time (1992)",
 'Amityville 3-D (1983)',
 'Amityville Curse, The (1990)',
 'Amityville Horror, The (1979)',
 'Amityville Horror, The (2005)',
 'Amityville II: The Possession (1982)',
 'Amityville: A New Generation (1993)',
 'Amityville: Dollhouse (1996)',
 "Amores Perros (Love's a Bitch) (2000)",
 'Amos & Andrew (1993)',
 'Amy (2015)',
 "Amy's O (a.k.a. Amy's Orgasm) (2001)",
 'An Amazing Couple (2002)',
 'Anacleto: Agente secreto (2015)',
 'Anaconda (1997)',
 'Anaconda: The Offspring (2008)',
 'Anacondas: The Hunt for the Blood Orchid (2004)',
 'Analyze That (2002)',
 'Analyze This (1999)',
 'Anarchist Cookbook, The (2002)',
 'Anastasia (1956)',
 'Anastasia (1997)',
 'Anatomy of a Murder (1959)',
 'Anchorman 2: The Legend Continues (2013)',
 'Anchorman: The Legend of Ron Burgundy (2004)',
 'Anchors Aweigh (1945)',
 'And God Created Woman (Et Dieu... créa la femme) (1956)',
 'And Now... Ladies and Gentlemen... (2002)',
 'And So It Goes (2014)',
 'And Starring Pancho Villa as Himself (2003)',
 'And Then There Were None (1945)',
 'And Your Mother Too (Y tu mamá también) (2001)',
 'And the Band Played On (1993)',
 'And the Ship Sails On (E la nave va) (1983)',
 'Andalusian Dog, An (Chien andalou, Un) (1929)',
 'Andre (1994)',
 'Andrei Rublev (Andrey Rublyov) (1969)',
 'Andrew Dice Clay: Dice Rules (1991)',
 'Android (1982)',
 'Andromeda Strain, The (1971)',
 'Angel Baby (1995)',
 'Angel Eyes (2001)',
 'Angel Heart (1987)',
 'Angel at My Table, An (1990)',
 "Angel's Egg (Tenshi no tamago) (1985)",
 'Angel-A (2005)',
 "Angela's Ashes (1999)",
 'Angels & Demons (2009)',
 'Angels and Insects (1995)',
 'Angels in the Outfield (1994)',
 'Angels with Dirty Faces (1938)',
 "Angels' Share, The (2012)",
 'Anger Management (2003)',
 'Angie (1994)',
 'Angriest Man in Brooklyn, The (2014)',
 'Angry Red Planet, The (1959)',
 'Angst  (1983)',
 'Angus (1995)',
 'Angus, Thongs and Perfect Snogging (2008)',
 'Animal Crackers (1930)',
 'Animal Factory (2000)',
 'Animal Farm (1954)',
 'Animal House (1978)',
 'Animal, The (2001)',
 'Animals are Beautiful People (1974)',
 'Animatrix, The (2003)',
 'Anna Christie (1930)',
 'Anna Karenina (1935)',
 'Anna Karenina (1997)',
 'Anna Karenina (2012)',
 'Anna and the King (1999)',
 'Annabelle (2014)',
 'Annabelle: Creation (2017)',
 'Annapolis (2006)',
 'Anne Frank Remembered (1995)',
 'Anne of Green Gables (1985)',
 'Anne of Green Gables: The Sequel (a.k.a. Anne of Avonlea) (1987)',
 'Anne of the Thousand Days (1969)',
 'Annie (1982)',
 'Annie Get Your Gun (1950)',
 'Annie Hall (1977)',
 'Annihilation (2018)',
 'Anniversary Party, The (2001)',
 'Anomalisa (2015)',
 'Another 48 Hrs. (1990)',
 'Another Cinderella Story (2008)',
 'Another Earth (2011)',
 'Another Gay Movie (2006)',
 'Another Stakeout (1993)',
 'Another Thin Man (1939)',
 'Another Woman (1988)',
 'Ant Bully, The (2006)',
 'Ant-Man (2015)',
 'Ant-Man and the Wasp (2018)',
 'Anthony Adverse (1936)',
 'Anti-Social (2015)',
 'Antichrist (2009)',
 'Antitrust (2001)',
 "Antonia's Line (Antonia) (1995)",
 'Antonio Gaudí (1985)',
 'Antwone Fisher (2002)',
 'Antz (1998)',
 'Anvil! The Story of Anvil (2008)',
 'Any Given Sunday (1999)',
 'Any Which Way You Can (1980)',
 'Anything Else (2003)',
 'Anything for Her (Pour elle) (2008)',
 'Anything for Love (2016)',
 'Anywhere But Here (1999)',
 'Apartment, The (1960)',
 "Apartment, The (Appartement, L') (1996)",
 'Apocalypse Now (1979)',
 'Apocalypto (2006)',
 'Apollo 13 (1995)',
 'Apollo 18 (2011)',
 'Apostle, The (1997)',
 'Appaloosa (2008)',
 'Apple Dumpling Gang Rides Again, The (1979)',
 'Apple Dumpling Gang, The (1975)',
 'Apple, The (Sib) (1998)',
 'Applesauce (2015)',
 'Appleseed (Appurushîdo) (2004)',
 "April Fool's Day (1986)",
 'April Morning (1988)',
 'Apt Pupil (1998)',
 'Aqua Teen Hunger Force Colon Movie Film for Theaters (2007)',
 'Aquamarine (2006)',
 'Arachnophobia (1990)',
 'Ararat (2002)',
 'Are We Done Yet? (2007)',
 'Are We There Yet? (2005)',
 'Are You Scared? (2006)',
 'Argo (2012)',
 'Ari Shaffir: Double Negative (2017)',
 'Ariel (1988)',
 'Aristocats, The (1970)',
 'Aristocrats, The (2005)',
 'Arizona Dream (1993)',
 'Arlington Road (1999)',
 'Armageddon (1998)',
 'Armed and Dangerous (1986)',
 'Armour of God (Long xiong hu di) (1987)',
 'Armour of God II: Operation Condor (Operation Condor) (Fei ying gai wak) (1991)',
 'Army of Darkness (1993)',
 "Army of Shadows (L'armée des ombres) (1969)",
 'Around the World in 80 Days (1956)',
 'Around the World in 80 Days (2004)',
 'Arrival (2016)',
 'Arrival, The (1996)',
 'Arsenic and Old Lace (1944)',
 'Art School Confidential (2006)',
 'Art of Getting By, The (2011)',
 'Art of War, The (2000)',
 'Art of the Steal, The (2009)',
 'Art of the Steal, The (2013)',
 'Artemisia (1997)',
 'Arthur (1981)',
 'Arthur (2011)',
 'Arthur 2: On the Rocks (1988)',
 'Arthur Christmas (2011)',
 'As Above, So Below (2014)',
 'As Good as It Gets (1997)',
 'As I Was Moving Ahead Occasionally I Saw Brief Glimpses of Beauty (2000)',
 'As You Like It (2006)',
 'Ascent, The (Voskhozhdeniye) (1977)',
 'Ashby (2015)',
 'Ashes and Diamonds (Popiól i diament) (1958)',
 'Ashes of Time (Dung che sai duk) (1994)',
 'Ask the Dust (2006)',
 'Aspen Extreme (1993)',
 'Asphalt Jungle, The (1950)',
 'Asphyx, The (1973)',
 "Assassin's Creed (2016)",
 'Assassination (1987)',
 'Assassination Tango (2002)',
 'Assassination of Jesse James by the Coward Robert Ford, The (2007)',
 'Assassination of Richard Nixon, The (2004)',
 'Assassination of a High School President (2008)',
 'Assassins (1995)',
 'Assault on Precinct 13 (1976)',

In [15]:
# wyciągamy jeden film, by zobaczyć w kolejnym etapie do jakich filmów jest podobny
selected_film = movies_list.index('American Beauty (1999)')
selected_film

405

In [50]:
corr_selected_film = corr[selected_film]
corr_selected_film

array([0.21962356, 0.68142802, 0.76257211, ..., 0.2904888 , 0.57126283,
       0.02769168])

In [51]:
list(movie_names[(corr_selected_film<1.0)&(corr_selected_film>0.9)])

['Being John Malkovich (1999)',
 'Clockwork Orange, A (1971)',
 'Eyes Wide Shut (1999)',
 'Magnolia (1999)',
 'Reservoir Dogs (1992)',
 'Run Lola Run (Lola rennt) (1998)',
 'Trainspotting (1996)']

### 2. Filtracja treści (jakie filmy możesz jeszcze polubić, na podstawie tego co już lubisz)

In [18]:
# rozdzielanie title i year
movies['year'] = movies.title.str.extract('(\(\d\d\d\d\))',expand=False)
movies['year'] = movies.year.str.extract('(\d\d\d\d)',expand=False)
movies['title'] = movies.title.str.replace('(\(\d\d\d\d\))', '')
movies['title'] = movies['title'].apply(lambda x: x.strip())

In [19]:
movies

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995
...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic,Action|Animation|Comedy|Fantasy,2017
9738,193583,No Game No Life: Zero,Animation|Comedy|Fantasy,2017
9739,193585,Flint,Drama,2017
9740,193587,Bungo Stray Dogs: Dead Apple,Action|Animation,2018
9741,193609,Andrew Dice Clay: Dice Rules,Comedy,1991

In [20]:
movies.isna().sum()
movies.year.fillna(0, inplace=True)

In [21]:
#kluczowa jest kolumna genres
movies['genres'] = movies.genres.str.split('|')
movies

,movieId,title,genres,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II,[Comedy],1995
...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic,"[Action, Animation, Comedy, Fantasy]",2017
9738,193583,No Game No Life: Zero,"[Animation, Comedy, Fantasy]",2017
9739,193585,Flint,[Drama],2017
9740,193587,Bungo Stray Dogs: Dead Apple,"[Action, Animation]",2018
9741,193609,Andrew Dice Clay: Dice Rules,[Comedy],1991

In [22]:
movies_genres = movies.copy(deep=True)
x = []
for index, row in movies.iterrows():
    x.append(index)
    for genre in row['genres']:
        movies_genres.at[index, genre] = 1

In [23]:
movies_genres = movies_genres.fillna(0)
movies_genres

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II,[Comedy],1995,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic,"[Action, Animation, Comedy, Fantasy]",2017,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9738,193583,No Game No Life: Zero,"[Animation, Comedy, Fantasy]",2017,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9739,193585,Flint,[Drama],2017,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9740,193587,Bungo Stray Dogs: Dead Apple,"[Action, Animation]",2018,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9741,193609,Andrew Dice Clay: Dice Rules,[Comedy],1991,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
# Utworzenie swojego profilu
Ja = [
{'title':'Godfather, The', 'rating':3.5},
{'title':'Pulp Fiction', 'rating':5}
]
Ja_movies = pd.DataFrame(Ja)
Ja_movies

            title  rating
0  Godfather, The     3.5
1    Pulp Fiction     5.0

In [25]:
# Łączymy swoj profil z movieId 
Ja_moviesId = movies_genres[movies_genres['title'].isin(Ja_movies['title'].tolist())]
Ja_moviesId

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
257,296,Pulp Fiction,"[Comedy, Crime, Drama, Thriller]",1994,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
659,858,"Godfather, The","[Crime, Drama]",1972,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
Ja_genres = pd.merge(Ja_movies, Ja_moviesId)
Ja_genres

,title,rating,movieId,genres,year,Adventure,Animation,Children,Comedy,Fantasy,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,"Godfather, The",3.5,858,"[Crime, Drama]",1972,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Pulp Fiction,5.0,296,"[Comedy, Crime, Drama, Thriller]",1994,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
Ja_genres_only = Ja_genres.drop(['genres','year','title','rating','movieId'], 1)
Ja_genres_only

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
print('Shape of profile genres_only is:',Ja_genres_only.shape)
print('Shape of profile movies is:',Ja_genres.shape)

Shape of profile genres_only is: (2, 20)
Shape of profile movies is: (2, 25)

In [52]:
moj_profil = Ja_genres_only.T.dot(Ja_genres.rating)
moj_profil

Adventure             0.0
Animation             0.0
Children              0.0
Comedy                5.0
Fantasy               0.0
Romance               0.0
Drama                 8.5
Action                0.0
Crime                 8.5
Thriller              5.0
Horror                0.0
Mystery               0.0
Sci-Fi                0.0
War                   0.0
Musical               0.0
Documentary           0.0
IMAX                  0.0
Western               0.0
Film-Noir             0.0
(no genres listed)    0.0
dtype: float64

In [30]:
movies_genres = movies_genres.set_index(movies_genres.movieId)
movies_genres

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
movieId,,,,,,,,,,,,,,,,,,,,,
1,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,Grumpier Old Men,"[Comedy, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,5,Father of the Bride Part II,[Comedy],1995,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,193581,Black Butler: Book of the Atlantic,"[Action, Animation, Comedy, Fantasy]",2017,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193583,193583,No Game No Life: Zero,"[Animation, Comedy, Fantasy]",2017,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193585,193585,Flint,[Drama],2017,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193587,193587,Bungo Stray Dogs: Dead Apple,"[Action, Animation]",2018,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193609,193609,Andrew Dice Clay: Dice Rules,[Comedy],1991,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
movies_genres.drop(['movieId','title','genres','year'], axis=1, inplace=True)
movies_genres.head()

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
movieId,,,,,,,,,,,,,,,,,,,,
1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
recommendation = (movies_genres.dot(moj_profil)) / moj_profil.sum()
recommendation

movieId
1         0.185185
2         0.000000
3         0.185185
4         0.500000
5         0.185185
            ...
193581    0.185185
193583    0.185185
193585    0.314815
193587    0.000000
193609    0.185185
Length: 9742, dtype: float64

In [33]:
recommendation.sort_values(ascending=False, inplace=True)

In [34]:
copy = movies.copy(deep=True)
copy = copy.set_index('movieId', drop=True) 
top_20_index = recommendation.index[:10].tolist() 
top_20_index

[1912, 81132, 1432, 5628, 3893, 20, 608, 6705, 27674, 57669]

In [35]:
recommended_movies = copy.loc[top_20_index, :]

In [36]:
recommended_movies

,title,genres,year
movieId,,,
1912,Out of Sight,"[Comedy, Crime, Drama, Romance, Thriller]",1998
81132,Rubber,"[Action, Adventure, Comedy, Crime, Drama, Film...",2010
1432,Metro,"[Action, Comedy, Crime, Drama, Thriller]",1997
5628,Wasabi,"[Action, Comedy, Crime, Drama, Thriller]",2001
3893,Nurse Betty,"[Comedy, Crime, Drama, Romance, Thriller]",2000
20,Money Train,"[Action, Comedy, Crime, Drama, Thriller]",1995
608,Fargo,"[Comedy, Crime, Drama, Thriller]",1996
6705,Party Monster,"[Comedy, Crime, Drama, Thriller]",2003
27674,11:14,"[Comedy, Crime, Drama, Mystery, Thriller]",2003
57669,In Bruges,"[Comedy, Crime, Drama, Thriller]",2008

### ALS

In [37]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('MovieLens').getOrCreate()

In [55]:
movies = spark.read.csv("DF_st/ml-latest-small/movies.csv",header=True)
ratings = spark.read.csv("DF_st/ml-latest-small/ratings.csv",header=True)

In [40]:
ratings.printSchema()

root
 |-- userId: string (nullable = true)
 |-- movieId: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- timestamp: string (nullable = true)

In [41]:
from pyspark.sql.types import *
from pyspark.sql.functions import col

ratings = ratings.drop('timestamp').withColumn("userId", col("userId").cast(IntegerType()))\
                                      .withColumn("movieId", col("movieId").cast(IntegerType()))\
                                      .withColumn("rating", col("rating").cast(DoubleType()))

movies = movies.withColumn("movieId", col("movieId").cast(IntegerType()))

In [42]:
from pyspark import SparkConf, SparkContext
from pyspark.mllib.recommendation import ALS, MatrixFactorizationModel, Rating

In [43]:
# dzielimy zbiór na treningowy i testowy (0.7 i 0.3)
(ratings_train, ratings_test) = ratings.randomSplit([0.7,0.3], seed = 1000)

print(' training: {0}\n test: {1}\n'\
  .format(ratings_train.count(),
          ratings_test.count()
         ))

 training: 70540
 test: 30296

In [44]:
from pyspark.ml.recommendation import ALS
#https://spark.apache.org/docs/2.1.0/ml-collaborative-filtering.html
ratings_als = ALS(userCol = "userId",
                  itemCol = "movieId",
                  ratingCol = "rating",
                  rank = 10, #latent components
                  maxIter = 10,
                  regParam = 0.1, #regularization
                  implicitPrefs = False, 
                  coldStartStrategy = "drop", 
                  )

In [45]:
#predykcje
from pyspark.ml.evaluation import RegressionEvaluator
ratings_model = ratings_als.fit(ratings_train)

ratings_pred = ratings_model.transform(ratings_test)
ratings_pred.show(10)

+------+-------+------+----------+
|userId|movieId|rating|prediction|
+------+-------+------+----------+
|   362|   1645|   5.0| 3.5550983|
|   597|   1959|   4.0|  3.861864|
|    34|   1580|   2.5| 3.7310483|
|   368|   1580|   3.0|  2.923243|
|   368|   3918|   2.0| 1.6487323|
|    28|   1645|   2.5| 3.1952186|
|    27|   1580|   3.0|  3.471271|
|    27|   2142|   3.0|  2.897929|
|   332|   1645|   3.5|  2.819389|
|   577|   1959|   4.0| 3.2291894|
+------+-------+------+----------+
only showing top 10 rows

In [46]:
#ocena jakości
from pyspark.ml.evaluation import RegressionEvaluator
ratings_eval = RegressionEvaluator(metricName = "rmse", 
                                    labelCol = "rating",
                                    predictionCol = "prediction")
ratings_rmse = ratings_eval.evaluate(ratings_pred)
print("RMSE = " + str(ratings_rmse))

RMSE = 0.90223866137914

In [47]:
ratings_pred.show()

+------+-------+------+----------+
|userId|movieId|rating|prediction|
+------+-------+------+----------+
|   362|   1645|   5.0| 3.5550983|
|   597|   1959|   4.0|  3.861864|
|    34|   1580|   2.5| 3.7310483|
|   368|   1580|   3.0|  2.923243|
|   368|   3918|   2.0| 1.6487323|
|    28|   1645|   2.5| 3.1952186|
|    27|   1580|   3.0|  3.471271|
|    27|   2142|   3.0|  2.897929|
|   332|   1645|   3.5|  2.819389|
|   577|   1959|   4.0| 3.2291894|
|   577|   2366|   3.0| 3.3609138|
|   384|   1959|   4.0| 3.4827023|
|   159|   1088|   4.0|  2.637545|
|   606|   1645|   3.5| 3.1825113|
|   606|   1829|   3.5| 2.1991036|
|   223|   1342|   1.0| 2.0416958|
|   602|    471|   4.0|  3.305328|
|   330|   1580|   4.0| 3.1064224|
|   372|    471|   3.0| 2.8834252|
|   122|   3175|   4.5| 4.1901436|
+------+-------+------+----------+
only showing top 20 rows

In [48]:
# rekomendacja 
user_recs=ratings_model.recommendForAllUsers(5).show(truncate=False)

+------+------------------------------------------------------------------------------------------------------+
|userId|recommendations                                                                                       |
+------+------------------------------------------------------------------------------------------------------+
|1     |[{177593, 5.7812905}, {3379, 5.6521482}, {971, 5.6396947}, {3451, 5.567501}, {2563, 5.538487}]        |
|2     |[{131724, 4.887288}, {7842, 4.7945824}, {7841, 4.594096}, {60943, 4.594096}, {80906, 4.4865355}]      |
|3     |[{70946, 5.09276}, {5746, 4.8968515}, {6835, 4.8968515}, {5181, 4.8968515}, {4518, 4.8968515}]        |
|4     |[{82, 5.265686}, {89904, 5.0828247}, {7700, 5.043691}, {1262, 4.949155}, {1046, 4.9397445}]           |
|5     |[{177593, 4.881306}, {1207, 4.7950826}, {82, 4.7709575}, {3677, 4.7587695}, {1262, 4.7553368}]        |
|6     |[{26133, 5.0361314}, {42730, 5.0273943}, {4857, 4.984055}, {2563, 4.8659825}, {85774, 4.792117}]      |
|7     |[{6380, 5.1708603}, {4041, 4.839363}, {1223, 4.793968}, {745, 4.777478}, {56145, 4.7159185}]          |
|8     |[{1260, 4.778624}, {527, 4.757196}, {4495, 4.719159}, {6201, 4.719159}, {25771, 4.6889563}]           |
|9     |[{6380, 5.6618443}, {4380, 5.144402}, {25771, 5.1374097}, {148881, 5.039035}, {1223, 5.0349965}]      |
|10    |[{102903, 4.8539877}, {77846, 4.7769036}, {25906, 4.7769036}, {93008, 4.7769036}, {106642, 4.7526927}]|
|11    |[{85774, 5.301403}, {1711, 5.190221}, {3347, 5.1287513}, {1727, 5.08881}, {1272, 5.0803638}]          |
|12    |[{3153, 5.88724}, {232, 5.8388777}, {85774, 5.8250394}, {3019, 5.748127}, {26528, 5.7165747}]         |
|13    |[{3379, 5.502251}, {84847, 5.325872}, {68945, 5.205281}, {27156, 5.0004606}, {6380, 4.9846554}]       |
|14    |[{4356, 5.427257}, {1292, 4.8936305}, {34338, 4.801964}, {5135, 4.777528}, {213, 4.6391015}]          |
|15    |[{4356, 5.1143355}, {3153, 4.8862867}, {2899, 4.8128896}, {971, 4.697777}, {5902, 4.655304}]          |
|16    |[{3379, 4.4246783}, {27156, 4.2484035}, {78836, 4.212706}, {92475, 4.1984115}, {2905, 4.1945524}]     |
|17    |[{3379, 5.0161037}, {33649, 4.959591}, {2563, 4.9569025}, {177593, 4.915364}, {78836, 4.8510904}]     |
|18    |[{3379, 5.0238714}, {2563, 4.7771564}, {33649, 4.737185}, {27156, 4.6773844}, {177593, 4.667829}]     |
|19    |[{3379, 4.3180714}, {3358, 4.177019}, {68945, 4.1287556}, {27156, 4.0841765}, {7748, 4.0083437}]      |
|20    |[{177593, 5.460325}, {25771, 5.353287}, {2202, 5.248858}, {1046, 5.2209997}, {3451, 5.202137}]        |
+------+------------------------------------------------------------------------------------------------------+
only showing top 20 rows